* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: auto;

}

/* ? -----1------ */

header {

    display: flex;
    justify-content: space-between;
    align-items: center;


}

h2 {
    color: rgb(93, 130, 37);
    font-size: 30px;
}

ul {
    display: flex;
    align-items: center;
    gap: 53px;
    list-style: none;
    font-size: 25px;
    color: gray;
}

.right_box {
    display: flex;
    align-items: center;
    gap: 23px;
}

.right_box>button {
    background-color: red;
    border: none;
    color: aliceblue;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid red;
    cursor: pointer;
}


ul>li:hover {
    color: blue;
}

.right_box>button:hover {
    background-color: #fff;
    color: red;
}

.right_box>h3:hover {
    color: blue;
}

/* ? -------1-------- */

/* ?  ---------2--------- */

.main {
    max-width: 1300px;
    display: flex;
    align-items: center;


}

.m_left {
    width: 50%;
    /* line-height: 50px; */

}

.m_left>h3 {
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 20px;
}

.m_left>h3>b {
    color: #3EFFC0;


    font-size: 54px;
    font-weight: 600;
    margin-bottom: 20px;



}

.m_left>p {
    font: poppins;
    font-weight: 400;
    font-size: 21px;
    text-align: left;
    margin-bottom: 20px;

}

.m_left>p>b {
    font-weight: 600;

}

.inp {
    width: 472px;
    height: 65px;
    top: 522.4px;
    left: 227px;
    display: flex;
    border: 1px solid black;
    border-radius: 6px;
    border: none;
    margin-bottom: 20px;
    background-color: #ece4e4;
    box-shadow: 1px 1px 1px 1px rgb(183, 170, 170);
}

.inp>input {
    width: 100%;
    border: none;
    padding: 15px;
    font-weight: 400;
    font-size: 18px;
}

.inp>button {
    background-color: red;
    border: none;
    color: aliceblue;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid red;
    cursor: pointer;
}


.m_left>.goog {
    display: flex;
    font-size: 30px;
    align-items: center;
    gap: 30px;
}

.m_right {
    width: 50%;

}

.m_right>img {
    width: 700px;
}

/* ? ------2------- */

/* ?-----3------- */


.icons {
    background-color: aquamarine;

}

.icons2 {
    max-width: 1300px;
    margin: auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ? ------3----- */

.main3 {
    display: flex;
    max-width: 1300px;
    align-items: center;
    padding: 110px;
    justify-content: center;
    margin-left: 100px;

}

.box {
    Width: 220px;
    Height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 25px;
}

.box>.icon {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid none;
    background-color: #FF9A9A;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px white;
}

.icon>I {
    font-size: 40px;
    color: #fff;
}

.box>h1 {
    font-weight: 600;
    font-size: 21px;
}

.box>p {
    font-weight: 400;
    font-size: 16px;
}

.m3_left {
    display: flex;
}

.m3_right {
    width: 50%;
}

.m3_right>h1 {
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    text-align: left;

}

.m3_right>p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    padding: 20px;

}

.m3_div {
    display: flex;
    gap: 20px;
    align-items: center;
}

.m3_div>button {
    padding: 15px 45px;
    background-color: black;
    color: #ece4e4;
    border-radius: 6px;
    margin: 0px 10px;
    font-size: 18px;
    font-weight: 500px;
    line-height: 160%;
}

.m3_div>p {
    color: red;
    font-size: 18px;
    font-weight: 500px;
    line-height: 160%;
}

/* ?----3----- */
/* ?-------4---------- */

.main4 {
    max-width: 1300px;
    display: flex;
    margin: auto;
}

.m4_left {
    width: 50%;
    margin: auto;
}

.m4_left>h1 {
    font-size: 45px;
    font-weight: 600px;
    line-height: 68px;
    text-align: left;
}

.m4_left>p {
    font-size: 25px;

}

.m4_left>p>i {
    background-color: rgb(122, 167, 53);
    color: aliceblue;
    border-radius: 50%;
}

.m_right {
    padding: 30px;
}

/* ?-------4------ */
/* ?------5------ */
.main5 {
    max-width: 1300px;
    display: flex;
    align-items: center;
}

.main5>.m5_left {
    width: 50%;
}

.m5_left>img {
    width: 700px;
    height: 600px;
}

.m5_right {
    width: 50%;
    margin: auto;

}

.m5_right>h1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 68px;
    margin-bottom: 20px;
}

.m5_right>p {
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    text-align: left;
}

.m5_right>p>b {
    font-weight: 600;
}
/* ?------5========= */

/* ?=======6========= */

.m6 {
    background-color: rgb(203, 244, 230);

}

.main6 {
    display: flex;
    max-width: 1300px;
    align-items: center;
    justify-content: center;
    padding: 0px 100px;
}

.main6>.m6_left {
    width: 50%;
    padding: 30px;
}

.m6_left>h1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 68%;
    text-align: left;

}

.m6_left>p {
    font-size: 18px;
    font-weight: 400;
    line-height: 168%;
    text-align: left;
}

.m6_left>button {
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
    text-align: left;
    background-color: #F44545;
    color: aliceblue;
    border: none;
    padding: 5px 15px;
}

.main6>.m6_right {
    width: 50%;
    padding: 30px;
}

.m6_right>img {
    width: 765px;
    
}

/* ?====6====== */

/* ?=======7========== */
.price{
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    
}
.price > P{
    max-width: 754px;
    margin: auto;
}
.price span{
    border: 1px solid green;
    border: none;
    border-radius: 7px;
    padding-left: 35px;
    background-color: green;
    align-items: center;
    padding-top: 3px;
}
.price i{
    color: white;
    
}

.prices_d{
    max-width: 1100px;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    
}
.l_price{
    width: 50%;
    background-color: #3EFFC0;
    height: 3px;
    box-shadow: 3px 1px 1px 1px;
    
}
.prices_d>p{
    width: 35px;
    height: 15px;
    background-color: #3EFFC0;
    border: 1px solid #3EFFC0;
    border-radius: 50%;
}

.r_price{
    width: 50%;
    box-shadow: 3px 1px 1px 1px;


}



.main_bottom {
    padding: 90px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  
  .card_main_center {
    border: 0.5px solid rgb(165, 163, 163);
    border-radius: 7px;
    width: 300px;
    /* height: 300px; */
    text-align: center;
}

.card_main_center {
    padding: 15px 0px;
}

.card_main_center h3 {
    color: gray;
    margin-bottom: 50px;
}

.card_main_center h1 {
    margin-bottom: 50px;
}

.card_main_center>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card_main_center>div>p {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
}

.card_main_center>div>p>i {
    background-color:rgb(122, 167, 53);
    border-radius: 50%;
}

.card_main_center>button {
    padding: 10px 27px;
    color: white;
    background: rgb(245, 84, 84);
    border-radius: 5px;
    border: none;
    margin-top: 50px;
}
.foot{

    background-color: rgb(203, 244, 230);

}


.footer {
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
    
    gap: 200px;
    
}

.container>.footer>div>h2 {
    color: black;
    font-size: 30px;
}

.container>.footer>div {
    padding: 20px;
}

